#action-menu {
  position: relative;
  z-index: 3;
}

#action-menu .close,
#action-menu .open {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 35px;
  height: 30px;
}

#action-menu .burger {
  width: 100%;
  height: 20%;
}

#action-menu .burger.bar {
  background: var(--white);
  border-radius: 5px;
}

#action-menu .open {
  display: none;
}

#action-menu .open .burger:first-child {
  transform: translateY(200%) rotate(0.125turn);
}

#action-menu .open .burger:last-child {
  transform: translateY(-200%) rotate(-0.125turn);
}

#menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--black-hover);
  z-index: 2;
}

#menu .logo {
  position: absolute;
  left: 50%;
  top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: translateX(-50%);
}

#menu .list {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-100%);
  text-align: right;
}

#menu .list a {
  padding: 30px 15px;
  color: var(--white);
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.2rem;
}

#menu .list a.active {
  color: var(--yellow-orange);
}

#menu .separator {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 4px;
  height: calc(100vh - 200px);
  border-radius: 5px;
  background: var(--white);
}

#menu .contact {
  position: absolute;
  top: 350px;
  left: 50%;
  padding: 30px 15px;
  color: var(--white);
  line-height: 1.8;
}

#menu .contact span {

  font-size: .8rem;
}

#menu .contact .brand {
  font-weight: bold;
  font-size: .9rem;
}