*,
::after,
::before {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  --jet: #343330ff;
  --rifle-green: #45462aff;
  --brown: #7e5920ff;
  --fulvous: #dc851fff;
  --fulvous-transparent: rgba(220, 132, 31, 0.295);
  --yellow-orange: #ffa737ff;
  --yellow-orange-transparent: rgba(255, 168, 55, 0.39);
  --white: #f1f1f1;
  --black-hover: #0000009f;
  background: var(--white);
}