*,
::after,
::before {
  font-family: Raleway, 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
a[href^="tel:"] {
  font-family: Montserrat, 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  --jet: rgb(52, 51, 48);
  --rifle-green: rgb(69, 70, 42);
  --brown: rgb(126, 89, 32);
  --fulvous: rgb(220, 133, 31);
  --fulvous-transparent: rgba(220, 132, 31, 0.295);
  --yellow-orange: rgb(255, 167, 55);
  --yellow-orange-transparent: rgba(255, 168, 55, 0.39);
  --white: rgb(241, 241, 241);
  --black-hover: rgba(0, 0, 0, 0.624);
  --menu-hover: rgba(0, 0, 0, 0.882);
  /* background: var(--white); */
  background: rgb(241, 241, 241);
}

.balek {
  visibility: hidden;
  display: none
}