#action-menu .burger.bar {
  background: var(--jet);
}

#map {
  width: 100%;
  height: 400px;
  z-index: 1;
}

.leaflet-marker-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 var(--yellow-orange);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  border-radius: 50% 50% 50% 50% / 24% 24% 76% 76% ;
  -webkit-border-radius: 50% 50% 50% 50% / 24% 24% 76% 76% ;
  -moz-border-radius: 50% 50% 50% 50% / 24% 24% 76% 76% ;
  -ms-border-radius: 50% 50% 50% 50% / 24% 24% 76% 76% ;
  -o-border-radius: 50% 50% 50% 50% / 24% 24% 76% 76% ;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}


@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.separator {
  width: 4px;
  height: 550px;
  position: absolute;
  top: 50px;
  left: 50%;
  background: var(--yellow-orange);
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.brand {
  width: calc(50% - 25px);
  padding-top: 100px;
  text-align: right;
}

.brand h1 {
  font-size: 2rem;
}

.brand h2 {
  font-size: 2rem;
  color: var(--fulvous);
}

.links {
  position: relative;
  width: 100%;
  margin: 50px 0 125px;
  display: flex;
}

.links img {
  width: 50%;
}

.links .cover {
  position: absolute;
  top: 25%;
  left: 0;
  width: 75%;
  height: 100%;
  max-height: 440px;
  z-index: 1;
  background: var(--yellow-orange-transparent);
}

.links .contacts {
  z-index: 2;
  width: 50%;
  margin: auto 25px;
  font-size: 1.2rem;
  text-align: center;
}

.links .contacts .address,
.links .contacts .mail,
.links .contacts .phone {
  padding: 0 0 25px 0;
}

.links .contacts .mail {
  margin-top: 25px;
}

.links .contacts .address a,
.links .contacts .mail a,
.links .contacts .phone a {
  color: var(--jet);
  text-decoration: underline;
}

.links .contacts .btn {
  margin-top: 50px;
  padding: 5px 40px;
  border: solid 2px var(--yellow-orange);
  font-weight: bold;
  color: var(--jet);
}

@media (max-width: 830px) {
  .brand {
    padding-top: 75px;
  }

  .separator {
    height: 525px;
  }

  .brand h1,
  .brand h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .brand {
    padding-top: 50px;
  }

  .separator {
    height: 475px;
  }

  .brand h1,
  .brand h2 {
    font-size: 1rem;
  }
}

@media (max-width: 470px) {
  .separator {
    height: 450px;
  }

  .brand h1,
  .brand h2 {
    font-size: .8rem;
  }
}

@media (max-width: 400px) {
  .separator {
    height: 400px;
  }

  .brand {
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
    /* background: #000; */
  }

  .brand h1,
  .brand h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 830px) {
  .links .contacts {
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  .links .contacts {
    font-size: .9rem;
  }
}

@media (max-width: 710px) {
  .links .contacts{
    font-size: .8rem;
  }
}

@media (max-width: 650px) {
  .links {
    flex-direction: column;
    justify-content: space-between;
  }

  .links img {
    width: 75%;
  }

  .links .contacts {
    width: 100%;
    margin: auto;
    padding-top: 25px;
  }

  .links .cover {
    left: 25%;
    height: 50%;
  }
}

@media (max-width: 300px) {
  .links .contacts {
    font-size: .7rem;
  }
}
