#items {
  width: 100%;
}

#items .item {
  position: relative;
  width: 100%;
  margin: 200px 0;
  display: flex;
  align-items: center;
}

#items .item .img {
  width: 50%;
  height: calc(100vh * 0.45);
  object-fit: cover;
  object-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#items .item .description {
  width: 50%;
  padding: 0 150px;
  text-align: center;
  z-index: 2;
}

#items .item .description p {
  text-align: justify;
  margin: 25px 0;
}

#items .item .description a {
  /* color: var(--yellow-orange); */
  color:  rgb(255, 167, 55);
  text-decoration: underline;
  font-weight: bold;
}

#items .item .cover {
  position: absolute;
  top: 20%;
  width: 75%;
  height: 100%;
  /* background: var(--fulvous-transparent); */
  background:  rgba(220, 132, 31, 0.295);
}

#items .item .cover.left {
  left: 0;
}

#items .item .cover.right {
  right: 0;
}

@media (max-width: 1200px) {
  #items .item {
    flex-direction: column;
    margin: 50px 0;
  }

  #items .item:nth-child(even) {
    flex-direction: column-reverse;
  }

  #items .item .description {
    width: 75%;
    padding: 25px;
  }

  #items .item .cover {
    top: 15%;
    height: 50%;
  }

  #items .item .img {
    height: 50%;
  }
}

@media (max-width: 850px) {
  #items .item .img {
    width: 65%;
  }
}