#items {
  width: 100%;
}

.item {
  position: relative;
  width: 100%;
  margin: 200px 0;
  display: flex;
  align-items: center;
}

.item .img {
  width: 50%;
  height: calc(100vh * 0.45);
  object-fit: cover;
  object-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item .description {
  width: 50%;
  padding: 0 150px;
  text-align: center;
  z-index: 2;
}

.item .description p {
  text-align: justify;
  margin: 25px 0;
}

.item .description a {
  color: var(--yellow-orange);
  text-decoration: underline;
  font-weight: bold;
}

.item .cover {
  position: absolute;
  top: 20%;
  width: 75%;
  height: 100%;
  background: var(--fulvous-transparent);
}

.item .cover.left {
  left: 0;
}

.item .cover.right {
  right: 0;
}

.parallax {
  position: absolute;
  z-index: 3;
  width: 10px;
  min-height: 500px;
  overflow: hidden;
  max-height: 100vh;
  
}

.parallax.left{
  background: linear-gradient(180deg, transparent 0, transparent 25%,  var(--yellow-orange-transparent) 25%, var(--yellow-orange-transparent) 75%,transparent 75%,transparent 100%) center 0 no-repeat fixed;
  top: 150vh;
  right: 265px;
}

.parallax.right{
  background: linear-gradient(0deg, transparent 0, transparent 25%, var(--yellow-orange-transparent) 25%, var(--yellow-orange-transparent) 75%,transparent 75%,transparent 100%) center 0 no-repeat fixed;
  top: 120vh;
  right: 245px;
}