/* TODO: resize and compress img */
#main .separator {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 4px;
  height: calc(100vh - 200px);
  border-radius: 5px;
  background: var(--white);
}

#main .scroll {
  position: absolute;
  bottom: 120px;
  left: 50%;
  z-index: 2;
  color: var(--white);
  font-size: .9rem;
  font-weight: lighter;
  transform: rotate(-90deg) translateY(-25px);
  -webkit-transform: rotate(-90deg) translateY(-25px);
  -moz-transform: rotate(-90deg) translateY(-25px);
  -ms-transform: rotate(-90deg) translateY(-25px);
  -o-transform: rotate(-90deg) translateY(-25px);
}

#main .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 0 15px;
  transform: translateX(-100%);
  color: var(--white);
}

#items .slogan-alt {
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: none;
}

#items .slogan {
  max-width: 500px;
  width: 100%;
  color: var(--jet);
}

#main .slogan,
#items .slogan {
  font-weight: bold;
  font-size: 2rem;
  /* text-shadow: 1px 1px 2px black, 0 0 2em black; */
}

#main .slogan .brand,
#items .slogan-alt .brand {
  font-size: 1.5rem;
}

#main .slogan .description,
#items .slogan-alt .description  {
  font-size: 2rem;
}

#main .slogan .description-accent,
#items .slogan-alt .description-accent  {
  color: var(--yellow-orange);
}

#main.min .separator {
  left: auto;
  right: 50px;
}

#main.min .scroll {
  left: auto;
  right: 10px;
  transform: rotate(-90deg) translateY(40px);
  -webkit-transform: rotate(-90deg) translateY(40px);
  -moz-transform: rotate(-90deg) translateY(40px);
  -ms-transform: rotate(-90deg) translateY(40px);
  -o-transform: rotate(-90deg) translateY(40px);
}

#main.min .slogan {
  text-align: right;
  top: 50%;
  left: 0;
  width: calc(100% - 65px);
  padding-left: 15px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

@media (max-width: 750px) {
  #main .slogan .brand {
    font-size: 1rem;
  }
  
  #main .slogan .description,
  #main .slogan .description-accent {
    font-size: 1.2rem;
  }
}

