.parallax {
  position: absolute;
  z-index: 3;
  width: 10px;
  min-height: 350px;
  overflow: hidden;
  max-height: 100vh;
}

.parallax.left {
  /* background: linear-gradient(180deg, transparent 0, transparent 25%, var(--yellow-orange-transparent) 25%, var(--yellow-orange-transparent) 75%, transparent 75%, transparent 100%) center 0 no-repeat fixed; */
  background: linear-gradient(180deg, transparent 0, transparent 25%, rgba(255, 168, 55, 0.39) 25%, rgba(255, 168, 55, 0.39) 75%, transparent 75%, transparent 100%) center 0 no-repeat fixed;
  top: 150vh;
  right: 265px;
}

.parallax.right {
  /* background: linear-gradient(0deg, transparent 0, transparent 25%, var(--yellow-orange-transparent) 25%, var(--yellow-orange-transparent) 75%, transparent 75%, transparent 100%) center 0 no-repeat fixed; */
  background: linear-gradient(0deg, transparent 0, transparent 25%, rgba(255, 168, 55, 0.39) 25%, rgba(255, 168, 55, 0.39) 75%, transparent 75%, transparent 100%) center 0 no-repeat fixed;
  top: 120vh;
  right: 245px;
}