#prefooter {
  width: 100%;
  padding: 50px 0;
}

#prefooter .prefooter-container {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

#prefooter .prefooter-container p {
  text-align: center;
  padding: 25px 15px;
}

#prefooter .prefooter-container .show-more {
  text-align: center;
  padding-top: 25px;
}

#prefooter .prefooter-container .show-more a {
  text-decoration: underline;
  /* color: var(--yellow-orange); */
  color:  rgb(255, 167, 55);
  font-weight: bold;
}

#prefooter .prefooter-container .contact {
  text-align: center;
  margin-top: 25px;
}

#prefooter .prefooter-container .contact a {
  /* color: var(--jet); */
  color: rgb(52, 51, 48);
  font-weight: bold;
  /* border: solid 2px var(--yellow-orange); */
  border: solid 2px rgb(255, 167, 55);
  padding: 5px 40px;
}

@media (max-width: 900px) {
  #prefooter h2 {
    font-size: 1rem;
  }

  #prefooter p {
    font-size: .9rem;
  }
}

@media (max-width: 360px) {
  #prefooter .prefooter-container .contact a {
    font-size: .9rem;
    padding: 5px 30px;
  }
}

@media (max-width: 360px) {
  #prefooter .prefooter-container .contact a {
    padding: 5px 20px;
  }
}