.what-we-do {
  width: 100%;
  position: relative;
}

.what-we-do .main-description {
  position: relative;
  width: 100%;
  height: 400px;
}

.what-we-do .main-description h3,
.what-we-do .main-description p {
  position: absolute;
  width: 50%;
  left: 50%;
}

.what-we-do .main-description h3 {
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.what-we-do .main-description p {
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
}

@media (max-width: 900px) {
  .what-we-do .main-description {
    height: 100%;
    min-height: 300px;
    max-width: 750px;
    margin: 0 auto 0 auto;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .what-we-do .main-description h3,
  .what-we-do .main-description p {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .what-we-do .main-description h3 {
    font-size: 1.1rem;
    padding: 20px 0;
  }

  .what-we-do .main-description p {
    font-size: 1rem;
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .what-we-do .main-description {
    margin: 50px auto 0 auto;
  }
}

.what-we-do .items-wrapper {
  width: 100%;
  display: flex;
}

.what-we-do .items-wrapper .items.go-down {
  padding-top: 450px;
}

.what-we-do .items-wrapper .items {
  width: 50%;
}

.what-we-do .items-wrapper .items .item {
  position: relative;
  padding: 25px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.what-we-do .items-wrapper .items.go-down .item {
  align-items: flex-start;
}

.what-we-do .items-wrapper .items .item img,
.what-we-do .items-wrapper .items .item h3,
.what-we-do .items-wrapper .items .item p {
  margin: 0;
  padding: 0;
}

.what-we-do .items-wrapper .items .item .img,
.what-we-do .items-wrapper .items .item img {
  width: 600px;
  height: 800px;
  object-fit: cover;
  object-position: center;
  /* border: solid 1px var(--black-hover); */
  border: solid 1px rgba(0, 0, 0, 0.624);
}

.what-we-do .items-wrapper .items .item img.left {
  object-position: left;
}

.what-we-do .items-wrapper .items .item img.right {
  object-position: right;
}

.what-we-do .items-wrapper .items .item h3,
.what-we-do .items-wrapper .items .item p {
  width: 600px;
  margin: 0;
}

.what-we-do .items-wrapper .items .item h3 {
  font-size: 1.5rem;
  padding: 20px 0;
}

.what-we-do .items-wrapper .items .item p {
  font-size: 1rem;
}

.what-we-do .items-wrapper .items .item .cover {
  position: absolute;
  /* background: var(--yellow-orange-transparent); */
  background:   rgba(255, 168, 55, 0.39);
  height: 33%;
  width: 75%;
  top: 60%;
  left: 0;
  right: auto;
}

.what-we-do .items-wrapper .items.go-down .item .cover {
  left: auto;
  right: 0;
}

@media (max-width: 1400px) {
  .what-we-do .items-wrapper .items.go-down {
    padding-top: 350px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 533px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 400px;
  }
}

@media (max-width: 1100px) {
  .what-we-do .items-wrapper .items.go-down {
    padding-top: 250px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 507px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 300px;
  }

  .what-we-do .items-wrapper .items .item h3 {
    font-size: 1.2rem;
  }

  .what-we-do .items-wrapper .items .item p {
    font-size: .9rem;
  }

  .what-we-do .items-wrapper .items .item .cover {
    top: 50%;
  }
}

@media (max-width: 900px) {
  .what-we-do .items-wrapper .items.go-down {
    padding-top: 150px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 266px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 200px;
  }

  .what-we-do .items-wrapper .items .item h3 {
    font-size: 1rem;
  }

  .what-we-do .items-wrapper .items .item p {
    font-size: .9rem;
  }
}

@media (max-width: 600px) {
  .what-we-do .items-wrapper {
    display: flex;
    flex-direction: column;
  }

  .what-we-do .items-wrapper .items {
    width: 100%;
  }

  .what-we-do .items-wrapper .items .item {
    position: relative;
    padding: 25px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .what-we-do .items-wrapper .items.go-down .item {
    align-items: center;
  }

  .what-we-do .items-wrapper .items.go-down {
    padding-top: 30px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 400px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 300px;
  }

  .what-we-do .items-wrapper .items .item h3 {
    font-size: 1.2rem;
  }

  .what-we-do .items-wrapper .items .item p {
    font-size: .9rem;
  }

  .what-we-do .items-wrapper .items .item .cover {
    top: 40%;
    height: 45%
  }

  .what-we-do .items-wrapper .items :nth-child(even) .cover {
    left: auto;
    right: 0
  }

  .what-we-do .items-wrapper .items.items.go-down :nth-child(even) .cover {
    left: 0;
    right: auto;
  }

}

@media (max-width: 400px) {
  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 335px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 250px;
  }

  .what-we-do .items-wrapper .items .item h3 {
    font-size: 1rem;
  }

  .what-we-do .items-wrapper .items .item p {
    font-size: .9rem;
  }

  .what-we-do .items-wrapper .items .item .cover {
    height: 33%;
  }
}

@media (max-width: 350px) {
  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img {
    height: 266px;
  }

  .what-we-do .items-wrapper .items .item .img,
  .what-we-do .items-wrapper .items .item img,
  .what-we-do .items-wrapper .items .item h3,
  .what-we-do .items-wrapper .items .item p {
    width: 200px;
  }
}